:root {
    --color-primary: #f53457;
    --color-secondary: var(--color-blue);

    --color-blue: #40d9da;
    --color-blue--dark: #2eb1c0;

    --color-orange: #f7a600;

    --color-off-white: #e9f1de;

    --color-grey: #eee;
    --color-grey--light: #fafafa;
}

.container {
    margin: 0 auto;
    max-width: 400px;
}

h1,
h2,
h3 {
    background: var(--color-primary);
    color: white;
    padding: 5px;
    text-transform: uppercase;
}

.slide-enter,
.slide-leave {
    transition: opacity 0.3s ease;
}

.slide-enter {
    opacity: 1;
}

.slide-leave {
    opacity: 0;
}